@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Montserrat&display=swap");

$colour1: #3a2d32;
$colour2: #edead0;
$colour3: #ffc4eb;
$colour4: #759aab;
$colour5: #355834;

$header-height: 90px;

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: $colour2;
}
::-webkit-scrollbar-thumb {
  background: $colour1;
}

* {
  box-sizing: border-box;
  color: $colour1;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Henny Penny", cursive;
}

.header {
  background-color: rgba($color: $colour2, $alpha: 0.7);
  border-bottom: 2px solid $colour1;
  height: $header-height;
  position: fixed;
  text-align: center;
  width: 100%;
  .header-title-box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 350px;
    .header-title-box-left,
    .header-title-box-right {
      .header-logo {
        width: 50px;
      }
    }
    .header-title-text {
      .header-title {
        margin-bottom: -14px;
      }
      .header-subtitle {
        font-size: 14px;
      }
    }
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
    .header-link {
      cursor: pointer;
      font-size: 21px;
      font-weight: 800;
    }
    .active {
      text-decoration: underline;
    }
  }
  * {
    color: $colour1;
  }
}

.element {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.landing {
  transition: 0.6s background-image ease-in-out;
}

.about {
  background-color: $colour1;
}

.slide-show {
  background-color: $colour2;
}

.mail-list {
  background-color: $colour1;
  * {
    color: $colour2;
  }
}

.contact {
  background-color: $colour2;
}
